@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500;700&display=swap');

* {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 48px;
    scroll-behavior: smooth;
}

.purple__text {
    color: #6415FF;
}

.container {
    max-width: 1920px;
    margin: 184px 0 184px 0;
}

.section__title {
    color: #6415FF;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2.5px;
}

.section__header {
    color: #243E63;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 32px;
}

.section__para {
    color: #7c8ba1;
    font-size: 24px;
    font-weight: 400;
}

.btn__purple {
    font-size: 22px;
    padding: 12px 48px;
    background-color: #6415FF;
    color: #fff;
    border-radius: 50px;
    transition: all 300ms ease;
}

.btn__purple:hover {
    cursor: pointer;
    background-color: #5010cc;
}

@keyframes animate-section-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes animate-section-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateY(0);
    }
}

/*

LANDING

*/

.landing{
    animation: animate-section-right 500ms ease;
}

/*

NAV

*/

nav {
    height: 100px;
}

.nav__container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--img {
    width: 64px;
}

.nav__logo--title {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #243E63;
    padding: 16px;
    transition: all 300ms ease;
}

.nav__logo--title:hover {
    color: #6415FF;
    cursor: pointer;
}

.nav__links, 
.nav__links--register {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav__link,
.nav__link--register {
    text-decoration: none;
    color: #243E63;
    font-size: 22px;
    transition: border-bottom 300ms ease-in-out;
}

.nav__link:hover,
.nav__link--register:hover {
    color: #6415FF;
    border-bottom: 3px solid #6415FF;
}

.nav__link {
    margin: 0 24px;
}

.nav__link--register {
    margin: 0 24px 0 48px;
}

/*

HEADER

*/

.header__container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 128px;
    display: flex;
}

.header__description {
    width: 40%;
}

.header__title {
    font-size: 68px;
    font-weight: 700;
    color: #1a202c;
    padding: 56px 0;
    line-height: 1.3;
}

.header__para {
    font-size: 25px;
    font-weight: 300;
    color: #243E63;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}

.header__input {
    width: 100%;
    margin: 48px 0 112px 0;
}

.header__input--bar {
    width: 60%;
    border: 2px solid #e5e7eb;
    padding: 32px 0px 32px 40px;
    font-size: 24px;
    border-radius: 50px;
}

.header__input--btn {
    display: inline-block;
    margin-right: -96px;
    
}

.header__pic__label {
    font-size: 18px;
    color: #a0aec0;
    padding-bottom: 24px;
}

.header__pic {
    width: 70%;
    opacity: 0.6;
}

/*

FEATURES

*/
.features{
    display: flex;
    justify-content: center;
}

.features .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
}

.features .container .section__para {
    text-align: center;
}

.features__main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.features__container {
    width: calc(100% / 3);
    display: flex;
    margin-top: 96px;
}

.features__img--container {
    border: 1px solid lightgrey;
    border-radius: 5000px;
    padding: 20px 20px 0 20px;
    height: 77px;
    margin: 0 24px;
}

.features__img {
    width: 35px;
    height: 35px;
}

.features__para--heading {
    color: #243E63;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

.features__para {
    color: #7c8ba1;
    font-size: 24px;
    line-height: 2;
    font-weight: 400;
    padding-top: 24px;
}

.features .section__para {
    width: 50%;
}

/*

QUALITY 

*/

.quality .container {
    display: flex;
    margin: 0 auto;
}

.quality__right {
    width: 50%;
}

.quality__left {
    width: 50%;
}

.quality__img {
    width: 100%;
    border: #e5e7eb 1px solid;
}

.quality .btn__purple {
    margin-top: 48px;
}

/*

STEPS

*/

.steps .container {
    display: flex;
    margin: 0 auto;
    padding: 176px 0;
    max-width: 1920px;
}

.steps__left {
    width: 50%;
}

.steps__img {
    width: 100%;
    padding: 96px 0;
}

.steps__right {
    width: 50%;
    padding-left: 96px;
}

.steps__main {
    list-style-type: none;
}

.steps__point {
    display: flex;
}

.steps__number {
    margin-right: 32px;
    color: #cbd5e0;
    font-size: 52px;
    font-weight: 500;
}

.steps__para--wrapper{
    margin-bottom: 48px;
}
.steps__para--heading {
    color: #243E63;
    font-size: 32px;
    font-weight: 400;
}

.steps__para {
    max-width: 560px;
    margin-top: 12px;
    color: #718096;
    font-size: 24px;
}

/*

VALUES

*/

.values .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 96px 0;
    max-width: 1920px;
}

.values__left {
    width: 50%;
    padding-right: 96px;
}

.values__left .btn__purple{
    margin-top: 72px;
}

.values__right {
    width: 50%;
}

.icon__paras {
    margin-top: 96px;
    display: flex;
}

.icon__para--top{
    display: flex;
    align-items: center;
}

.icona {
    background-color: #9ae6b4;
    font-size: 24px;
    font-weight: 300;
    color: #3d5c48;
    padding: 40px 0 40px 0;
    border-radius: 50px;
}

.iconb {
    background-color: #feb2b2;
    font-size: 24px;
    font-weight: 300;
    color: #aa2e25;
    padding: 40px 0 40px 0;
    border-radius: 50px;
}

.icon__container {
    padding: 5px 15px;
}

.icon__title {
    font-size: 32px;
    font-weight: 500;
    padding-left: 12px;
    color: #243E63;
}

.values__img {
    width: 100%;
}

.icon__para--wrapper {
    width: 40%;    
}

.icon__para {
    padding-top: 24px;
    color: #718096;
    font-weight: 300;
    font-size: 24px;
}

.icon__para--right {
    margin-left: 32px;
}

/*

PRICING

*/

.pricing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 96px 0 10000px 0;
    max-width: 1920px;
}

.pricing .section__para {
    width: 50%;
    text-align: center;
}

.pricing__main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 96px;
}

.pricing__plan {
    width: calc(100% / 3.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan1__top,
.plan3__top {
    width: 100%;
    height: 16px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-top: 1px solid #e2e5ea;
    border-left: 1px solid #e2e5ea;
    border-right: 1px solid #e2e5ea;
}

.plan1__top {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan3__top {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__top {
    width: 100%;
    border-left: 1px solid #e2e5ea;
    border-right: 1px solid #e2e5ea;
    border-bottom: 3px solid #e2e5ea ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.plan2__background .plan__top {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    padding-top: 16px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.plan__middle {
    width: 100%;
    border-left: 1px solid #e2e5ea;
    border-right: 1px solid #e2e5ea;
    border-bottom: 3px solid #e2e5ea ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan2__background .plan__middle {
    border-left: 1px solid #8094dd;
    border-right: 1px solid #8094dd;
    border-bottom: 3px solid #8094dd ;
}

.plan2__background .plan__top {
    border-left: 1px solid #8094dd;
    border-right: 1px solid #8094dd;
    border-bottom: 3px solid #8094dd ;
}

.plan__bottom {
    width: 100%;
    border-left: 1px solid #e2e5ea;
    border-right: 1px solid #e2e5ea;
    border-bottom: 1px solid #e2e5ea;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan2__background .plan__bottom {
    border-left: 1px solid #8094dd;
    border-right: 1px solid #8094dd;
    border-bottom: 3px solid #8094dd ;
}

.plan__title {
    font-size: 32px;
    padding: 48px 0 0 0;
    font-weight: 600;
}

.plan__price {
    font-size: 72px;
    font-weight: 600;
}

.pricing__plan .plan2__background {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__description {
    color: #a0aec0;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 56px;
}

.plan__points {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__init--point {
    font-size: 30px;
    font-weight: 600;
    color: #1a202c;
    padding: 48px 0;
}

.plan__point {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 40px;
    color: #718096;
}

.plan2__point {
    color: #f7fafc;
}

.btn__plan1,
.btn__plan2,
.btn__plan3 {
    font-size: 22px;
    padding: 24px 96px;
    border-radius: 50px;
    transition: all 300ms ease;
    border: none;
    margin: 24px 0;
    font-weight: 600;
    cursor: pointer;
}

.btn__plan1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);    
    color: #fff;
    transition: all 300ms ease;
}

.btn__plan2 {      
    color: #6415FF;
    transition: all 300ms ease;
}

.btn__plan3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);      
    color: #fff;
    transition: all 300ms ease;
}

.btn__plan1:hover,
.btn__plan3:hover {
    transform: translate(1px, -1px);
    box-shadow: 1px 5px 10px 3px #e5e5e5;
}

.btn__plan2:hover {
    transform: translate(1px, -1px);
    box-shadow: 1px 5px 10px 3px rgb(76, 81, 191);
    opacity: 0.9;
}